<p id="notice"><%= notice %></p>

<h1>Listing Moviesttts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moviesttts.each do |moviesttt| %>
      <tr>
        <td><%= moviesttt.name %></td>
        <td><%= moviesttt.description %></td>
        <td><%= moviesttt.price %></td>
        <td><%= moviesttt.active %></td>
        <td><%= link_to 'Show', moviesttt %></td>
        <td><%= link_to 'Edit', edit_moviesttt_path(moviesttt) %></td>
        <td><%= link_to 'Destroy', moviesttt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moviesttt', new_moviesttt_path %>
